reporting/TransformReqLineItemsV2ToV3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>67870121-016b-1000-5434-19d0ae96cf86</groupId>
    <name>TransformReqLineItemsV2ToV3</name>
    <snippet>
        <processGroups>
            <id>d119615c-bb3e-3701-0000-000000000000</id>
            <parentGroupId>fbe1dca9-8e61-3541-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0ac248ee-63fe-3cb6-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>c1f93f02-6409-33bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
                        <id>2429ff46-3c92-3471-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>49c6f020-bdff-36da-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>d467a135-9ad7-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>598ec411-ae0c-3a82-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4de7e3b2-fb8d-35f4-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>95501955-c71a-320e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>598ec411-ae0c-3a82-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>88c2e2f4-ae32-3cd0-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
                        <id>17d06fed-f6b7-34ed-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>c1f93f02-6409-33bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8c708253-c0ac-3644-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>38fd2594-a135-332e-0000-000000000000</groupId>
                        <id>0d799230-64c0-354d-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>95501955-c71a-320e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97fc1c0b-c4ca-31b0-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
                        <id>c847ce7c-30dd-3d41-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>38fd2594-a135-332e-0000-000000000000</groupId>
                        <id>87647e3b-b43b-317c-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a3d341b9-7eda-3ba4-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>598ec411-ae0c-3a82-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>12b76be9-cc24-38e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b05e1861-71be-3b2c-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>12b76be9-cc24-38e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>fb292fa6-6f75-35f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b4a1db23-4d2a-3905-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>d467a135-9ad7-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>12b76be9-cc24-38e3-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b8b93e3d-a985-330e-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>2a329b66-74c1-33fc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>ea1ff91b-de64-38f5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>be2c47ca-dcd4-38fc-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>d467a135-9ad7-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>c1f93f02-6409-33bb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bed1c1ce-984a-3756-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>d467a135-9ad7-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>95501955-c71a-320e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d2311ed4-b1ff-31bd-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>d467a135-9ad7-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>fb292fa6-6f75-35f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e16b8896-5b51-3b13-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>d467a135-9ad7-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>2a329b66-74c1-33fc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ee8ab90d-0b42-3ed6-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1861.2193147478094</x>
                        <y>281.24340966343084</y>
                    </bends>
                    <bends>
                        <x>1861.2193147478094</x>
                        <y>331.24340966343084</y>
                    </bends>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>598ec411-ae0c-3a82-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>not-found</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>598ec411-ae0c-3a82-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f9e5c89b-6f98-3af7-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>fb292fa6-6f75-35f1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d119615c-bb3e-3701-0000-000000000000</groupId>
                        <id>2a329b66-74c1-33fc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>5c919cad-2bf9-33bb-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-redis-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Redis Mode</key>
                            <value>
<name>Redis Mode</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Connection String</key>
                            <value>
<name>Connection String</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Index</key>
                            <value>
<name>Database Index</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Communication Timeout</key>
                            <value>
<name>Communication Timeout</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Cluster Max Redirects</key>
                            <value>
<name>Cluster Max Redirects</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Sentinel Master</key>
                            <value>
<name>Sentinel Master</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Max Total</key>
                            <value>
<name>Pool - Max Total</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Max Idle</key>
                            <value>
<name>Pool - Max Idle</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Min Idle</key>
                            <value>
<name>Pool - Min Idle</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Block When Exhausted</key>
                            <value>
<name>Pool - Block When Exhausted</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Max Wait Time</key>
                            <value>
<name>Pool - Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Min Evictable Idle Time</key>
                            <value>
<name>Pool - Min Evictable Idle Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Time Between Eviction Runs</key>
                            <value>
<name>Pool - Time Between Eviction Runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Num Tests Per Eviction Run</key>
                            <value>
<name>Pool - Num Tests Per Eviction Run</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Create</key>
                            <value>
<name>Pool - Test On Create</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Borrow</key>
                            <value>
<name>Pool - Test On Borrow</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Return</key>
                            <value>
<name>Pool - Test On Return</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pool - Test While Idle</key>
                            <value>
<name>Pool - Test While Idle</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>RedisConnectionPoolService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Redis Mode</key>
                            <value>Standalone</value>
                        </entry>
                        <entry>
                            <key>Connection String</key>
                            <value>redis:6379</value>
                        </entry>
                        <entry>
                            <key>Database Index</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>Communication Timeout</key>
                            <value>10 seconds</value>
                        </entry>
                        <entry>
                            <key>Cluster Max Redirects</key>
                            <value>5</value>
                        </entry>
                        <entry>
                            <key>Sentinel Master</key>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Pool - Max Total</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Pool - Max Idle</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Pool - Min Idle</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>Pool - Block When Exhausted</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>Pool - Max Wait Time</key>
                            <value>10 seconds</value>
                        </entry>
                        <entry>
                            <key>Pool - Min Evictable Idle Time</key>
                            <value>60 seconds</value>
                        </entry>
                        <entry>
                            <key>Pool - Time Between Eviction Runs</key>
                            <value>30 seconds</value>
                        </entry>
                        <entry>
                            <key>Pool - Num Tests Per Eviction Run</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Create</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Borrow</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Pool - Test On Return</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Pool - Test While Idle</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.redis.service.RedisConnectionPoolService</type>
                </controllerServices>
                <controllerServices>
                    <id>bc180a82-b8a7-3da9-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-redis-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>redis-connection-pool</key>
                            <value>
<identifiesControllerService>org.apache.nifi.redis.RedisConnectionPool</identifiesControllerService>
<name>redis-connection-pool</name>
                            </value>
                        </entry>
                        <entry>
                            <key>redis-cache-ttl</key>
                            <value>
<name>redis-cache-ttl</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>RedisDistributedMapCacheClientService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>redis-connection-pool</key>
                            <value>5c919cad-2bf9-33bb-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>redis-cache-ttl</key>
                            <value>0 secs</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.redis.service.RedisDistributedMapCacheClientService</type>
                </controllerServices>
                <processGroups>
                    <id>03c02fd0-a749-3e26-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>383.9548769962114</x>
                        <y>430.0357217211519</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>24c422ff-9f84-3bb9-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>4ef0aa02-12c9-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>not-found</selectedRelationships>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>0d68c257-9153-3c6b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>635d1bdd-a14f-33fd-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>6b5bde3e-1c69-313b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>0d68c257-9153-3c6b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8b5b54d4-d2d0-3e82-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>6b5bde3e-1c69-313b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>f8ee9f52-a06c-3fc4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cdd55b6f-c50f-385a-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>f8ee9f52-a06c-3fc4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>4ef0aa02-12c9-3d6a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e5d09af4-f155-3231-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>2429ff46-3c92-3471-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>f8ee9f52-a06c-3fc4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ea12e5e8-e93d-3f41-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>0d68c257-9153-3c6b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>c847ce7c-30dd-3d41-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ef2183c9-7f96-37a8-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>f8ee9f52-a06c-3fc4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>03c02fd0-a749-3e26-0000-000000000000</groupId>
<id>0d68c257-9153-3c6b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>c847ce7c-30dd-3d41-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <position>
<x>373.2327074412601</x>
<y>-174.3809942610141</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>2429ff46-3c92-3471-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <position>
<x>976.4257002462888</x>
<y>272.4350747326114</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Output</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0d68c257-9153-3c6b-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <position>
<x>316.2886458029294</x>
<y>-54.29862888066987</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>
            <name>Cache Entry Identifier</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Put Cache Value In Attribute</key>
        <value>
            <name>Put Cache Value In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>reqlineitemid${reqlineitemid}</value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>bc180a82-b8a7-3da9-0000-000000000000</value>
    </entry>
    <entry>
        <key>Put Cache Value In Attribute</key>
        <value>reqlineitemuuid</value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Check For Existing From Cache</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>not-found</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
                        </processors>
                        <processors>
                            <id>4ef0aa02-12c9-3d6a-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <position>
<x>318.54340547844913</x>
<y>164.8193878307235</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>reqlineitemuuid</key>
        <value>
            <name>reqlineitemuuid</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>reqlineitemuuid</key>
        <value>${filename}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Use Random UUID</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>6b5bde3e-1c69-313b-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <position>
<x>921.4549364451664</x>
<y>-164.18479675124848</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>f8ee9f52-a06c-3fc4-0000-000000000000</id>
                            <parentGroupId>03c02fd0-a749-3e26-0000-000000000000</parentGroupId>
                            <position>
<x>923.6228438009763</x>
<y>45.77043239862701</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>"id":([0-9]+),</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>"id":"${reqlineitemuuid}",</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Convert V2 ID To V3 UUID</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                    </contents>
                    <name>Convert ID</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>38fd2594-a135-332e-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>887.2061375040976</x>
                        <y>435.8988861840346</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1d7161e5-4f3a-341f-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>db96f28a-3557-3f85-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>3fd10d88-493b-394f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>be8c9c2f-7784-3b21-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>945f870a-cc26-38d8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>db96f28a-3557-3f85-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c2458dd0-a5af-355d-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>87647e3b-b43b-317c-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>db96f28a-3557-3f85-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4d035bd-d00a-370c-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>945f870a-cc26-38d8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>3fd10d88-493b-394f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d56eadd1-77b9-3ea5-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>3fd10d88-493b-394f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>38fd2594-a135-332e-0000-000000000000</groupId>
<id>0d799230-64c0-354d-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>0d799230-64c0-354d-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <position>
<x>-48.49912092721269</x>
<y>49.06160762409684</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>87647e3b-b43b-317c-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <position>
<x>-44.49912092721269</x>
<y>540.0616076240968</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Output</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>3fd10d88-493b-394f-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <position>
<x>-81.49912092721269</x>
<y>149.06163814167496</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>"productcode":(\w+),</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>"productcode":#$1#,</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Regex Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>945f870a-cc26-38d8-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <position>
<x>566.5008790727873</x>
<y>248.06160762409684</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>db96f28a-3557-3f85-0000-000000000000</id>
                            <parentGroupId>38fd2594-a135-332e-0000-000000000000</parentGroupId>
                            <position>
<x>-81.49912092721269</x>
<y>361.06163814167496</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Matching Group</key>
        <value>
            <name>Matching Group</name>
        </value>
    </entry>
    <entry>
        <key>Mapping File</key>
        <value>
            <name>Mapping File</name>
        </value>
    </entry>
    <entry>
        <key>Mapping File Refresh Interval</key>
        <value>
            <name>Mapping File Refresh Interval</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>".*?"</value>
    </entry>
    <entry>
        <key>Matching Group</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Mapping File</key>
        <value>/config/nifi/casper/orderables.txt</value>
    </entry>
    <entry>
        <key>Mapping File Refresh Interval</key>
        <value>60s</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ReplaceTextWithMapping</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceTextWithMapping</type>
                        </processors>
                    </contents>
                    <name>Map Orderables</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>b953bccb-fb16-3411-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>394.9006127668864</x>
                        <y>-5.058503700294295</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0dda1108-f5e4-3703-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>1922ede2-5e73-35b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>f2ca9bfb-3d36-3277-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>21dcd759-9527-37de-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>1922ede2-5e73-35b8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>6b5461d8-521f-324b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>91d89fc0-84f0-3338-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>6b5461d8-521f-324b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>f2ca9bfb-3d36-3277-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f8575622-e0f4-3b48-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>f2ca9bfb-3d36-3277-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>b953bccb-fb16-3411-0000-000000000000</groupId>
<id>17d06fed-f6b7-34ed-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>17d06fed-f6b7-34ed-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <position>
<x>373.2327074412601</x>
<y>-174.3809942610141</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Input</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>1922ede2-5e73-35b8-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <position>
<x>964.2089037303226</x>
<y>59.0784326188687</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>6b5461d8-521f-324b-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <position>
<x>322.3558645124099</x>
<y>172.13402629179814</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>
            <name>Cache Entry Identifier</name>
        </value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
            <name>Distributed Cache Service</name>
        </value>
    </entry>
    <entry>
        <key>Cache update strategy</key>
        <value>
            <name>Cache update strategy</name>
        </value>
    </entry>
    <entry>
        <key>Max cache entry size</key>
        <value>
            <name>Max cache entry size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Cache Entry Identifier</key>
        <value>reqlineitem${reqlineitemid}</value>
    </entry>
    <entry>
        <key>Distributed Cache Service</key>
        <value>bc180a82-b8a7-3da9-0000-000000000000</value>
    </entry>
    <entry>
        <key>Cache update strategy</key>
        <value>keeporiginal</value>
    </entry>
    <entry>
        <key>Max cache entry size</key>
        <value>1 MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Save To Cache</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
                        </processors>
                        <processors>
                            <id>f2ca9bfb-3d36-3277-0000-000000000000</id>
                            <parentGroupId>b953bccb-fb16-3411-0000-000000000000</parentGroupId>
                            <position>
<x>320.988536298682</x>
<y>-55.03950256179536</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>reqlineitemuuid</key>
        <value>
            <name>reqlineitemuuid</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-content</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>reqlineitemuuid</key>
        <value>$.payload.id</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Save V3 UUID To Content</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                    </contents>
                    <name>Save To Cache</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>12b76be9-cc24-38e3-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>1416.330859626984</x>
                        <y>21.049905963268316</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>reqlineitemid</key>
<value>
    <name>reqlineitemid</name>
</value>
                            </entry>
                            <entry>
<key>requisitionid</key>
<value>
    <name>requisitionid</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>warn</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>reqlineitemid</key>
<value>$.payload.id</value>
                            </entry>
                            <entry>
<key>requisitionid</key>
<value>$.payload.requisitionid</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Save IDs To Attributes</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>2a329b66-74c1-33fc-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>912.788818359375</x>
                        <y>-182.25</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  { // remove invalid v3 columns from schema
    "operation": "shift",
    "spec": {
      "schema": {
        "*": "schema.&amp;",
        "fields": {
          "*": {
            "field": {
              "product|productdisplayorder|productcategory|productcategorydisplayorder|dispensingunit|calculatedorderquantity|expirationdate|dosespermonth|dosesperdispensingunit|packsize|roundtozero|packroundingthreshold|reportingdays|createdby|createddate|modifiedby|modifieddate|previousnormalizedconsumptions|previousstockinhand|periodnormalizedconsumption": null,
              "id|rnrid": {
                "#string": "schema.fields[&amp;3].type",
                "@(2,optional)": "schema.fields[&amp;3].optional",
                "@(2,field)": "schema.fields[&amp;3].field"
              },
              "*": {
                "@2": "schema.fields[]"
              }
            }
          }
        }
      },
      "payload": "payload"
    }
  },
  { // remove invalid v3 columns from payload
    "operation": "remove",
    "spec": {
      "payload": {
        "product": "",
        "productdisplayorder": "",
        "productcategory": "",
        "productcategorydisplayorder": "",
        "dispensingunit": "",
        "calculatedorderquantity": "",
        "expirationdate": "",
        "dosespermonth": "",
        "dosesperdispensingunit": "",
        "packsize": "",
        "roundtozero": "",
        "packroundingthreshold": "",
        "reportingdays": "",
        "createdby": "",
        "createddate": "",
        "modifiedby": "",
        "modifieddate": "",
        "previousnormalizedconsumptions": "",
        "previousstockinhand": "",
        "periodnormalizedconsumption": ""
      }
    }
  },
  {
    "operation": "default",
    "spec": {
      "ref": {
        "True": true,
        "False": false
      }
    }
  },
  { // Rename periodid and enter some v3 default values
    "operation": "shift",
    "spec": {
      "schema": "schema",
      "payload": {
        "*": "&amp;1.&amp;0",
        "rnrid": "payload.requisitionid",
        "productcode": "payload.orderableid",
        "quantityreceived": "payload.totalreceivedquantity",
        "quantitydispensed": "payload.totalconsumedquantity",
        "stockinhand": "payload.stockonhand",
        "quantityrequested": "payload.requestedquantity",
        "reasonforrequestedquantity": "payload.requestedquantityexplanation",
        "quantityapproved": "payload.approvedquantity",
        "newpatientcount": "payload.numberofnewpatientsadded",
        "stockoutdays": "payload.totalstockoutdays",
        "normalizedconsumption": "payload.adjustedconsumption",
        "amc": "payload.averageconsumption",
        "maxmonthsofstock": "payload.maxperiodsofstock",
        "maxstockquantity": "payload.maximumstockquantity",
        "price": "payload.priceperpack",
        "fullsupply": {
          "true": {
            "@(4,ref.False)": "payload.nonfullsupply"
          },
          "false": {
            "@(4,ref.True)": "payload.nonfullsupply"
          }
        }
      }
    }
  },
  {
    "operation": "remove",
    "spec": {
      "ref": ""
    }
	}
]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Remove V2 Attributes and Set Defaults</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>598ec411-ae0c-3a82-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>1398.2193147478094</x>
                        <y>241.24340966343084</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Cache Entry Identifier</key>
<value>
    <name>Cache Entry Identifier</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Put Cache Value In Attribute</key>
<value>
    <name>Put Cache Value In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Cache Entry Identifier</key>
<value>requisition${requisitionid}</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>bc180a82-b8a7-3da9-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Put Cache Value In Attribute</key>
<value>requisitionuuid</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Check For Parent Requisition</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not-found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
                </processors>
                <processors>
                    <id>95501955-c71a-320e-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>906.6151196289181</x>
                        <y>239.85307269093414</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>"requisitionid":([0-9]+),</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>"requisitionid":"${requisitionuuid}",</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Replace Requisition V2 ID With V3 UUID</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>c1f93f02-6409-33bb-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>401.2711181640625</x>
                        <y>242.81698608398438</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:29092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>requisition.requisition_line_items</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Publish V3 To Kafka</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                </processors>
                <processors>
                    <id>d467a135-9ad7-32c7-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>907.2601928710938</x>
                        <y>30.310760498046875</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>ea1ff91b-de64-38f5-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>389.78881835937494</x>
                        <y>-189.25</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:29092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>original.requisition.requisition_line_items</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>nifi-rli-consumer-group</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>earliest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Consume V2 From Kafka</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                </processors>
                <processors>
                    <id>fb292fa6-6f75-35f1-0000-000000000000</id>
                    <parentGroupId>d119615c-bb3e-3701-0000-000000000000</parentGroupId>
                    <position>
                        <x>1417.0007934570312</x>
                        <y>-184.4161376953125</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Matching Group</key>
<value>
    <name>Matching Group</name>
</value>
                            </entry>
                            <entry>
<key>Mapping File</key>
<value>
    <name>Mapping File</name>
</value>
                            </entry>
                            <entry>
<key>Mapping File Refresh Interval</key>
<value>
    <name>Mapping File Refresh Interval</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>".*?"</value>
                            </entry>
                            <entry>
<key>Matching Group</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Mapping File</key>
<value>/config/nifi/casper/schema.requisition.requisition_line_items.txt</value>
                            </entry>
                            <entry>
<key>Mapping File Refresh Interval</key>
<value>60s</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Replace Schema</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceTextWithMapping</type>
                </processors>
            </contents>
            <name>Transform Req Line Items V2 To V3</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/18/2019 00:59:36 UTC</timestamp>
</template>
